body{
    background-color: #ecf0f1;
    color : #2c3e50;
}

.menu{
    height : 50px;
    width: 24%;
    background-color: #cccccc;
    display: inline-block;
    padding : 0px;
    margin: 0px;
    border-width: thick;
    border-style: outset;
    border-color: black;
    padding-top : 20px;
    text-align: center;
}

h1{
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top : 0px;
}



#synopsis, #gif, #image, #casting, table{
    width: 48%;
    margin: 0px;
    padding: 0px;
    display : inline-block;
}

#synopsis{
    text-align: center;
    vertical-align: 10%;
}

#gif, #image, #casting{
    text-align: center;
}

#casting, table{
    padding-bottom: 100px;
}

#boutons{
    text-align: center;
}

#pic1{
    text-align: center;
}

hr{
    width : 75%;
}


